---
import HeaderLanding from "../components/HeaderLanding.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro"
import ModelYSection from "../components/ModelYSection.astro";
import Model3Section from "../components/Model3Section.astro";
import ModelSSection from "../components/ModelSSection.astro";
import ModelXSection from "../components/ModelXSection.astro";
import AccessoriesSection from "../components/AccessoriesSection.astro";
---

<Layout title="Tesla">
	<HeaderLanding />
	<main class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModelYSection />
		</div>
		<div class="snap-center">
			<Model3Section />
		</div>
		<div class="snap-center">
			<ModelXSection />
		</div>
		<div class="snap-center">
			<ModelSSection />
		</div>
		<div class="snap-center">
			<AccessoriesSection />
		</div>
	</main>
</Layout>

