---
const { color, title } = Astro.props
---

<section class="landing-section bg-black h-screen w-full text-center relative overflow-hidden "
data-header-color={color} >
	<div class="z-30 relative h-full flex flex-col ">
		<header>
			<h2 class=`pt-40 text-4xl font-medium`
			style=`color: ${color};`>{title}</h2>
			<slot name="subtitle"></slot>
			
		</header>
		<footer class="flex flex-grow justify-end items-center flex-col pb-4">
			<slot name="footerSection"></slot>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<slot name="background" />
	</div>
</section>
